body {
    background-image: url("../images/gun_metal.png");
    color: white;
    padding-top: 180px;
}
.navbar {
position: fixed;
}


.topicArray {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%
}
.topicButton {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.topicGifs {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 5px;
}
.gif {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    
}
.gifImage {
    height: 200px;
    

}
.addMore {
    margin-top: 5px;
    margin-bottom: 1px;
    margin-left: 10px;
    margin-right: 5px;
    float: right;
    
}
.savFavButton {
    margin-left: 10px;
}
.ticketImage {
    width: 305px;
    height: 225px;
}
#topicForm {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 10px;
    margin-right: 5px;
    
}
#inputLabel {
    margin-top: 1px;
    margin-bottom: 1px;
}
#inputItem {
    margin-top: 1px;
    margin-bottom: 1px;
}
p {
    color: black;
    font-size: 1rem;
    margin-bottom: 0px;
}
a {
    color: white;;
    font-size: .8rem;
    margin-bottom: 0px;
}
h3 {
    font-size: 1rem;
}
.card-title {
    color: black;
    font-size: 1.2rem;
    margin-bottom: 0px;   
}
.downloadButton {
    margin-left: 40%;
    margin-right: 5px
}