body {
    background-image: url("../images/gun_metal.png");
    color: white;
}

.topicArray {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.topicButton {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.topicGifs {
    margin-left: 20px;
}
.gif {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    
}
.addMore {
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 5px;
    
}
#topicForm {
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 5px;
    
}
p {
    color: black;
    font-size: .6rem;
    margin-bottom: 0px;
}